<?xml version="1.0" encoding="UTF-8"?>

<!-- Die Konfiguration wird minütlich auf Änderungen geprüft. -->
<configuration scan="true" scanPeriod="1 minutes" debug="true">

    <!-- Eindeutige Identifikation der Instanz der Anwendung (HOST_System-ID). -->
    <contextName>testserver_testsystem</contextName>

    <!-- Pfad der Logdatei, ohne Endung -->
    <property name="LOGFILE_PATH" value="target/var/log/isy-logging/testserver_testsystem" />

    <!-- Maximale Laenge eines einzelnen Logeintrags in Byte -->
    <!-- Wird diese Property nicht gesetzt, so wird der Wert per default auf 32000 gesetzt -->
    <!-- Bei einem Wet von 0 wird die Länge der Logeinträge nicht überprüft. -->
    <property name="MAX_LENGTH" value="50" /> -->

    <!-- Exclude MDC. -->
    <property name="INCLUDE_MDC" value="false" />

    <include resource="resources/isylogging/logback/appender.xml" />

    <logger name="de.bund.bva.isyfact" level="trace" />

    <!-- Root-Logger als Grundlage für alle Logger-Instanzen -->
    <root level="error">
        <appender-ref ref="DATEI_ANWENDUNG" />
    </root>

</configuration>
