<?xml version="1.0" encoding="UTF-8"?>

<!-- Die Konfiguration wird minütlich auf Änderungen geprüft. -->
<configuration scan="true" scanPeriod="1 minutes">

    <!-- Eindeutige Identifikation der Instanz der Anwendung (HOST_System-ID). -->
    <contextName>testserver_testsystem</contextName>

    <!-- Pfad der Logdatei, ohne Endung -->
    <property name="LOGFILE_PATH" value="target/var/log/isy-logging/testserver_testsystem" />
    
    <!-- MDC in die Ausgabe mitaufnehmen. -->
    <property name="INCLUDE_MDC" value="true" />
    
    <include resource="resources/isylogging/logback/appender.xml" />

    <logger name="de.bund.bva.isyfact" level="trace" />

    <!-- Root-Logger als Grundlage für alle Logger-Instanzen -->
    <root level="error">
        <appender-ref ref="DATEI_ANWENDUNG" />
    </root>

</configuration>
