version: 2
updates:
  - package-ecosystem: "maven"
    target-branch: "master"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10
    groups:
      spring-webflow:
        patterns:
          - "org.springframework.webflow:spring-*"
      spring-boot:
        patterns:
          - "org.springframework.boot:spring-boot-*"
      jsf:
        patterns:
          - "com.sun.faces:jsf-*"
      resilience4j:
        patterns:
          - "io.github.resilience4j:resilience4j-*"
      logback:
        patterns:
          - "ch.qos.logback:logback-*"
      logback-contrib:
        patterns:
          - "ch.qos.logback.contrib.logback-*"
      oracle-jdbc:
        patterns:
          - "com.oracle.database.jdbc.*"
      apache-poi:
        patterns:
          - "org.apache.poi.poi*"
      greenmail:
        patterns:
          - "com.icegreen.greenmail*"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
      - dependency-name: "de.bund.bva.isyfact:*"

  - package-ecosystem: "maven"
    target-branch: "release/4.x"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 5
    groups:
      spring-webflow:
        patterns:
          - "org.springframework.webflow:spring-*"
      spring-boot:
        patterns:
          - "org.springframework.boot:spring-boot-*"
      jsf:
        patterns:
          - "com.sun.faces:jsf-*"
      resilience4j:
        patterns:
          - "io.github.resilience4j:resilience4j-*"
      logback:
        patterns:
          - "ch.qos.logback:logback-*"
      logback-contrib:
        patterns:
          - "ch.qos.logback.contrib.logback-*"
      oracle-jdbc:
        patterns:
          - "com.oracle.database.jdbc.*"
      apache-poi:
        patterns:
          - "org.apache.poi.poi*"
      greenmail:
        patterns:
          - "com.icegreen.greenmail*"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
      - dependency-name: "de.bund.bva.isyfact:*"

  - package-ecosystem: "maven"
    target-branch: "release/3.x"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 5
    groups:
      spring-webflow:
        patterns:
          - "org.springframework.webflow:spring-*"
      spring-boot:
        patterns:
          - "org.springframework.boot:spring-boot-*"
      jsf:
        patterns:
          - "com.sun.faces:jsf-*"
      resilience4j:
        patterns:
          - "io.github.resilience4j:resilience4j-*"
      logback:
        patterns:
          - "ch.qos.logback:logback-*"
      logback-contrib:
        patterns:
          - "ch.qos.logback.contrib.logback-*"
      oracle-jdbc:
        patterns:
          - "com.oracle.database.jdbc.*"
      apache-poi:
        patterns:
          - "org.apache.poi.poi*"
      greenmail:
        patterns:
          - "com.icegreen.greenmail*"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
      - dependency-name: "de.bund.bva.isyfact:*"

  - package-ecosystem: "github-actions"
    target-branch: "master"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "ci"

  - package-ecosystem: "github-actions"
    target-branch: "release/4.x"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "ci"

  - package-ecosystem: "github-actions"
    target-branch: "release/3.x"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "ci"
