/bridge-documentation/src/docs/asciidoc/IsyFact-Bridge_Guide/bibliography.adoc
/bridge-documentation/src/docs/asciidoc/IsyFact-Bridge_Guide/glossary.adoc
/bridge-documentation/src/docs/asciidoc/IsyFact-Bridge_Guide/listoffigures.adoc
/bridge-documentation/src/docs/asciidoc/IsyFact-Bridge_Guide/listoflistings.adoc
/bridge-documentation/src/docs/asciidoc/IsyFact-Bridge_Guide/listoftables.adoc
