<configuration scan="false">

    <!-- Include der vorkonfigurierten Appender. -->
    <include resource="resources/isylogging/logback/appender-entwicklung.xml"/>

    <!-- Root-Logger als Grundlage für alle Logger-Instanzen -->
    <root level="INFO">
        <appender-ref ref="KONSOLE"/>
    </root>

    <logger name="org" level="WARN" additivity="false">
    <appender-ref ref="KONSOLE"/>
</logger>
    <logger name="net" level="WARN" additivity="false">
        <appender-ref ref="KONSOLE"/>
    </logger>
    <logger name="com" level="WARN" additivity="false">
        <appender-ref ref="KONSOLE"/>
    </logger>
    <logger name="de.bund.bva" level="INFO" additivity="false">
        <appender-ref ref="KONSOLE"/>
    </logger>
</configuration>
