<!--

    See the NOTICE file distributed with this work for additional
    information regarding copyright ownership.
    The Federal Office of Administration (Bundesverwaltungsamt, BVA)
    licenses this file to you under the Apache License, Version 2.0 (the
    License). You may not use this file except in compliance with the
    License. You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
    implied. See the License for the specific language governing
    permissions and limitations under the License.

-->
<configuration scan="false">

    <!-- Include der vorkonfigurierten Appender. -->
    <include resource="resources/isylogging/logback/appender-entwicklung.xml"/>

    <!-- Root-Logger als Grundlage für alle Logger-Instanzen -->
    <root level="INFO">
        <appender-ref ref="KONSOLE"/>
    </root>

    <logger name="org" level="WARN" additivity="false">
    <appender-ref ref="KONSOLE"/>
</logger>
    <logger name="net" level="WARN" additivity="false">
        <appender-ref ref="KONSOLE"/>
    </logger>
    <logger name="com" level="WARN" additivity="false">
        <appender-ref ref="KONSOLE"/>
    </logger>
    <logger name="de.bund.bva" level="INFO" additivity="false">
        <appender-ref ref="KONSOLE"/>
    </logger>
    
    <!-- Alle Logmeldungen vom Paket de.sdm.* ausgeben. -->
    <logger name="de.sdm" level="INFO" additivity="false">
        <appender-ref ref="KONSOLE"/>
    </logger>

    <!-- Alle Logmeldungen der HTTPClient-Bibliothek ausgeben. -->
    <logger name="httpclient.wire.header" level="WARN" additivity="false">
        <appender-ref ref="KONSOLE"/>
    </logger>
    <logger name="org.apache.commons.httpclient" level="WARN" additivity="false">
        <appender-ref ref="KONSOLE"/>
    </logger>

    <!-- Nur Hibernate Warnungen und Fehler anzeigen -->
    <logger name="org.hibernate" level="WARN" additivity="false">
        <appender-ref ref="KONSOLE"/>
    </logger>

    <!-- Nur Hibernate Warnungen und Fehler anzeigen -->
    <logger name="org.apache.poi" level="WARN" additivity="false">
        <appender-ref ref="KONSOLE"/>
    </logger>

</configuration>
