<configuration scan="true" scanPeriod="1 minutes">

    <!-- Include der vorkonfigurierten Appender. -->
    <include resource="resources/isylogging/logback/appender-entwicklung.xml"/>

    <!-- Root-Logger als Grundlage für alle Logger-Instanzen -->
    <root level="trace">
        <appender-ref ref="KONSOLE"/>
    </root>

    <!-- IsyFact -->
    <logger name="de.bund.bva.isyfact" level="INFO" additivity="false">
        <appender-ref ref="KONSOLE"/>
    </logger>
    <!-- Spring -->
    <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="KONSOLE"/>
    </logger>

</configuration>