<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="1 minutes">

    <!-- Path of log file, without ending -->
    <property name="LOGFILE_PATH" value="/var/log/batchrahmen-test/HOSTNAME_${BatchId}"/>

    <!-- Maximum window size of the log files to be created. -->
    <property name="MAX_INDEX" value="20" />


    <!-- Include the preconfigured Appender. -->
    <include resource="resources/isylogging/logback/appender.xml" />

    <!-- Root-Logger as the basis for all Logger Instances -->
    <root level="INFO">
        <appender-ref ref="DATEI_ANWENDUNG" />
    </root>

    <!-- Prevents the logging of warning messages due to missing destruction callbacks, which the ThreadScope does not support and are not required. -->
    <!-- Recommended default value: ERROR -->
    <logger name="org.springframework.context.support.SimpleThreadScope" level="ERROR"
        additivity="false">
        <appender-ref ref="DATEI_ANWENDUNG"/>
    </logger>

    <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="KONSOLE"/>
    </logger>
    
    <!-- Prevents the logging of errors if locks cannot be set in the DB. -->
    <logger name="org.hibernate.event.def.DefaultLoadEventListener" level="WARN"
        additivity="false">
        <appender-ref ref="DATEI_ANWENDUNG"/>
    </logger>    

</configuration>
