<?xml version="1.0" encoding="UTF-8"?>
<!--

    See the NOTICE file distributed with this work for additional
    information regarding copyright ownership.
    The Federal Office of Administration (Bundesverwaltungsamt, BVA)
    licenses this file to you under the Apache License, Version 2.0 (the
    License). You may not use this file except in compliance with the
    License. You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
    implied. See the License for the specific language governing
    permissions and limitations under the License.

-->
<configuration scan="true" scanPeriod="1 minutes">

    <!-- Path of log file, without ending -->
    <property name="LOGFILE_PATH" value="/var/log/batchrahmen-test/HOSTNAME_${BatchId}"/>

    <!-- Maximum window size of the log files to be created. -->
    <property name="MAX_INDEX" value="20" />


    <!-- Include the preconfigured Appender. -->
    <include resource="resources/isylogging/logback/appender.xml" />

    <!-- Root-Logger as the basis for all Logger Instances -->
    <root level="INFO">
        <appender-ref ref="DATEI_ANWENDUNG" />
    </root>

    <!-- Prevents the logging of warning messages due to missing destruction callbacks, which the ThreadScope does not support and are not required. -->
    <!-- Recommended default value: ERROR -->
    <logger name="org.springframework.context.support.SimpleThreadScope" level="ERROR"
        additivity="false">
        <appender-ref ref="DATEI_ANWENDUNG"/>
    </logger>

    <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="KONSOLE"/>
    </logger>
    
    <!-- Prevents the logging of errors if locks cannot be set in the DB. -->
    <logger name="org.hibernate.event.def.DefaultLoadEventListener" level="WARN"
        additivity="false">
        <appender-ref ref="DATEI_ANWENDUNG"/>
    </logger>    

</configuration>
