<configuration scan="true" scanPeriod="1 minutes">

    <include resource="resources/isylogging/logback/appender-entwicklung.xml"/>

    <root level="INFO">
        <appender-ref ref="KONSOLE"/>
    </root>

    <logger name="de.bund.bva.isyfact" level="DEBUG"/>

    <logger name="de.bund.bva.pliscommon" level="DEBUG"/>

    <logger name="org.springframework" level="INFO"/>
</configuration>