name: Dependency Review
on:
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  DependencyReview:
    uses: IsyFact/isy-github-actions-templates/.github/workflows/dependency_review_template.yml@v2.1.1
    with:
      allow-dependencies-licenses: 'pkg:maven/io.github.git-commit-id/git-commit-id-maven-plugin'
