name: Documentation Build

on:
  push:
    tags:
      - '^\\d+\\.\\d+\\.\\d+$'

jobs:
  DocsBuild:
    uses:  IsyFact/isy-github-actions-templates/.github/workflows/docs_build_template.yml@v1.8.0
    secrets:
      ANTORA_TRIGGER_TOKEN: ${{ secrets.ANTORA_TRIGGER_TOKEN }}
