name: Release Maven
on:
  release:
    types: [released]

jobs:
  Build:
    uses: IsyFact/isy-github-actions-templates/.github/workflows/maven_build_template.yml@v1.6.0
    with:
      version: ${{ github.ref_name }}
      sonar-skip: true

  QualityGate:
    runs-on: ubuntu-latest
    needs: [Build]
    env:
      COMMIT_SHA: ${{ github.sha }}
      BRANCH_REF: release/3.1.2
      SONAR_HOST_URL: ${{ vars.SONAR_HOST_URL }}
      SONAR_PROJECT_KEY: ${{ vars.SONAR_PROJECT_KEY }}
    steps:
      - name: SonarQube Quality Gate Check
        run: |
          ANALYSIS_ID=$( curl --silent "${SONAR_HOST_URL}/api/project_analyses/search?project=${SONAR_PROJECT_KEY}&branch=${BRANCH_REF/\//%2F}" | jq -r "first(.analyses[]|select(.revision==\"$COMMIT_SHA\").key)")
          
          if [[ -z $ANALYSIS_ID ]]; then
            echo "No Sonar Scan result found for commit $COMMIT_SHA"
            exit 1
          fi
          
          QG_STATUS=$(curl --silent "${SONAR_HOST_URL}/api/qualitygates/project_status?analysisId=${ANALYSIS_ID}" | jq -r ".projectStatus.status")
          
          if [[ $QG_STATUS == "OK" ]]; then
            echo "Quality Gate passed"
            exit 0
          elif [[ $QG_STATUS == "ERROR" ]]; then
            echo "Quality Gate failed"
            exit 1
          else
            echo "Could not find Quality Gate information for analysis id ${ANALYSIS_ID}"
            exit 1
          fi

  DependencyScan:
    uses: IsyFact/isy-github-actions-templates/.github/workflows/maven_dependency_scan_template.yml@v1.6.0
    with:
      jdk-version: 17
      snyk-organization: ${{ vars.SNYK_ORG_ID }}
      snyk-reference: release/3.x
      snyk-arguments: "--maven-aggregate-project"
      perform-scan: true
      scan-dependency-management: false
    secrets:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

  DeployMavenCentral:
    needs: [QualityGate, DependencyScan]
    uses: IsyFact/isy-github-actions-templates/.github/workflows/maven_deploy_template.yml@v1.6.0
    with:
      version: ${{ github.ref_name }}
      maven-opts: '-P centralRelease'
      deploy-server-id: ossrh
      sbom: true
      sign: true
    secrets:
      GPG_PRIVATE_KEY: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
      GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}
      DEPLOY_SERVER_USER_NAME: ${{ secrets.MAVEN_CENTRAL_USER_NAME }}
      DEPLOY_SERVER_TOKEN: ${{ secrets.MAVEN_CENTRAL_TOKEN }}

  DependencyMonitor:
    uses: IsyFact/isy-github-actions-templates/.github/workflows/maven_dependency_scan_template.yml@v1.6.0
    with:
      jdk-version: 17
      snyk-organization: ${{ vars.SNYK_ORG_ID }}
      snyk-reference: ${{ github.ref_name }}
      snyk-arguments: "--maven-aggregate-project"
      scan-dependency-management: false
    secrets:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
