name: Dependency Scan
on:
  push:
    branches:
      - master
      - 'release/**'
    paths:
      - '**/pom.xml'
  workflow_dispatch:

jobs:
  SnykScan:
    uses: IsyFact/isy-github-actions-templates/.github/workflows/maven_dependency_scan_template.yml@v2.1.1
    with:
      snyk-reference: $GITHUB_REF_NAME
      snyk-organization: ${{ vars.SNYK_ORG_ID }}
    secrets:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
