name: Dependency Scan
on:
  push:
    branches:
      - master
      - 'release/**'
    paths:
      - '**/pom.xml'

jobs:
  Dependencies:
    uses: IsyFact/isy-github-actions-templates/.github/workflows/maven_dependency_scan_template.yml@v1.4.0
    with:
      jdk-version: 8
      snyk-reference: $GITHUB_REF_NAME
      snyk-organization: ${{ vars.SNYK_ORG_ID }}
    secrets:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

  ORT:
    uses: IsyFact/isy-github-actions-templates/.github/workflows/oss_review_toolkit_template.yml@1.5.0