name: Check Maven
on:
  pull_request:
    branches:
      - master
      - 'release/**'
    paths-ignore:
      - 'isyfact-standards-doc'
  push:
    branches:
      - master
      - 'release/**'
    paths-ignore:
      - 'isyfact-standards-doc'

jobs:
  Version:
    uses: IsyFact/isy-github-actions-templates/.github/workflows/next_version.yml@v1.5.0

  Maven:
    needs: [Version]
    uses: IsyFact/isy-github-actions-templates/.github/workflows/maven_build_template.yml@v1.5.0
    with:
      version: ${{ needs.Version.outputs.next-version }}
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  DeployGitHubPackages:
    if: github.event_name == 'push'
    needs: [Version, Maven]
    uses: IsyFact/isy-github-actions-templates/.github/workflows/maven_deploy_template.yml@v1.5.0
    with:
      version: ${{ needs.Version.outputs.next-version }}
      maven-opts: '-DaltDeploymentRepository=github::default::https://maven.pkg.github.com/IsyFact/isyfact-standards'
      deploy-server-id: github
    secrets:
      DEPLOY_SERVER_USER_NAME: ${{ github.actor }}
      DEPLOY_SERVER_TOKEN: ${{ secrets.GITHUB_TOKEN }}