name: Release Maven
on:
  release:
    types: [released]

jobs:
  Build:
    uses: IsyFact/isyfact-standards/.github/workflows/maven_build_template.yml@master
    with:
      version: ${{ github.ref_name }}
      sonar-skip: true

  QualityGate:
    runs-on: ubuntu-latest
    needs: [Build]
    env:
      COMMIT_SHA: ${{ github.sha }}
      BRANCH_REF: release/3.0.2
      SONAR_HOST_URL: ${{ vars.SONAR_HOST_URL }}
      SONAR_PROJECT_KEY: ${{ vars.SONAR_PROJECT_KEY }}
    steps:
      - name: SonarQube Quality Gate Check
        run: |
          ANALYSIS_ID=$( curl --silent "${SONAR_HOST_URL}/api/project_analyses/search?project=${SONAR_PROJECT_KEY}&branch=${BRANCH_REF/\//%2F}" | jq -r "first(.analyses[]|select(.revision==\"$COMMIT_SHA\").key)")
          
          if [[ -z $ANALYSIS_ID ]]; then
            echo "No Sonar Scan result found for commit $COMMIT_SHA"
            exit 1
          fi
          
          QG_STATUS=$(curl --silent "${SONAR_HOST_URL}/api/qualitygates/project_status?analysisId=${ANALYSIS_ID}" | jq -r ".projectStatus.status")
          
          if [[ $QG_STATUS == "OK" ]]; then
            echo "Quality Gate passed"
            exit 0
          elif [[ $QG_STATUS == "ERROR" ]]; then
            echo "Quality Gate failed"
            exit 1
          else
            echo "Could not find Quality Gate information for analysis id ${ANALYSIS_ID}"
            exit 1
          fi

  DependencyScan:
    runs-on: ubuntu-latest
    env:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup snyk
        uses: snyk/actions/setup@master
      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin
          cache: maven
      - name: Test for vulnerabilities
        run: >
          snyk test 
          --maven-aggregate-project --severity-threshold=critical --org=${{ vars.SNYK_ORG_ID }} --target-reference=release/3.x

  Deploy:
    needs: [QualityGate, DependencyScan]
    uses: IsyFact/isyfact-standards/.github/workflows/maven_deploy_template.yml@master
    with:
      version: ${{ github.ref_name }}
      maven-opts: '-P centralRelease'
      deploy-server-id: ossrh
      sbom: true
      sign: true
    secrets:
      GPG_PRIVATE_KEY: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
      GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}
      DEPLOY_SERVER_USER_NAME: ${{ secrets.MAVEN_CENTRAL_USER_NAME }}
      DEPLOY_SERVER_TOKEN: ${{ secrets.MAVEN_CENTRAL_TOKEN }}

  DependencyMonitor:
    runs-on: ubuntu-latest
    needs: [Deploy]
    env:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup snyk
        uses: snyk/actions/setup@master
      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin
          cache: maven
      - name: Create dependency snapshot to monitor release for vulnerabilities
        run: >
          snyk monitor 
          --maven-aggregate-project --target-reference=$GITHUB_REF_NAME --org=${{ vars.SNYK_ORG_ID }}