name: Dependency Scan
on:
  push:
    branches:
      - master
      - 'release/**'
    paths:
      - '**/pom.xml'
  workflow_dispatch:

jobs:
  Dependencies:
    uses: IsyFact/isyfact-standards/.github/workflows/maven_dependency_scan_template.yml@master
    with:
      snyk-reference: $GITHUB_REF_NAME
      snyk-organization: ${{ vars.SNYK_ORG_ID }}
    secrets:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

  ORT:
    uses: IsyFact/isy-github-actions-templates/.github/workflows/oss_review_toolkit_template.yml@v1.2.0
