# Maven Build: Compile, Test, SonarCloudScan
name: Maven Build
on:
  pull_request:
    branches:
      - master
      - 'release/**'
  push:
    branches:
      - master
      - 'release/**'
    paths-ignore:
      - 'isyfact-standards-doc/**'

jobs:
  Version:
    uses: IsyFact/isy-github-actions-templates/.github/workflows/next_version.yml@v2.1.1

  Maven:
    needs: [Version]
    uses: IsyFact/isy-github-actions-templates/.github/workflows/maven_build_template.yml@v2.1.1
    with:
      version: ${{ needs.Version.outputs.next-version }}
      maven-opts: '-PcentralSnapshot'
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  DeploySnapshotToCentral:
    if: (github.event_name == 'push' || github.event_name == 'workflow_dispatch') &&
      (github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/heads/release/'))
    needs: [ Version, Maven ]
    uses: IsyFact/isy-github-actions-templates/.github/workflows/maven_deploy_template.yml@v2.1.1
    with:
      version: ${{ needs.Version.outputs.next-version }}
      maven-opts: '-PcentralSnapshot'
      deploy-server-id: central
      sbom: true
      sign: true
      environment: 'Release'
    secrets:
      GPG_PRIVATE_KEY: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
      GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}
      DEPLOY_SERVER_USER_NAME: ${{ secrets.MAVEN_CENTRAL_USER_NAME }}
      DEPLOY_SERVER_TOKEN: ${{ secrets.MAVEN_CENTRAL_TOKEN }}
