name: Next Version
on:
  workflow_call:
    inputs:
      next-version:
        description: 'If set, this version is used with Snapshot suffix.'
        type: string
        required: false
    outputs:
      next-version:
        description: 'Computed snapshot version'
        value: ${{ jobs.Next.outputs.next-version }}

jobs:
  Next:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: none
      checks: none
      deployments: none
      issues: none
      packages: none
      pages: none
      pull-requests: none
      repository-projects: none
      security-events: none
      statuses: none

    env:
      NEXT_VERSION: ${{ inputs.next-version }}
    outputs:
      next-version: ${{ steps.next-version.outputs.version }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - id: semantic-version
        if: ${{ ! inputs.next-version }}
        uses: PaulHatch/semantic-version@v5.3.0
        with:
          version_from_branch: true
          tag_prefix: ""
          major_pattern: "/BREAKING/"
          minor_pattern: "/feat/"
          search_commit_body: true
      - name: Validate Version
        if: ${{ ! inputs.next-version }}
        run: |
          RE_SEMVER="^(0|[1-9][0-9]*)\.(0|[1-9][0-9]*)\.(0|[1-9][0-9]*)$"
          if [[ ! "${{ steps.semantic-version.outputs.version }}" =~ $RE_SEMVER ]]; then
            echo "ERROR computed version with value ${{ steps.semantic-version.outputs.version }} is an invalid semantic version"
              exit 1
          fi
      - id: next-version
        name: Set next version
        run: |
          echo "version=${NEXT_VERSION:-${{ steps.semantic-version.outputs.version }}}-SNAPSHOT" >> "$GITHUB_OUTPUT"
          echo "Computed and set ${NEXT_VERSION:-${{ steps.semantic-version.outputs.version }}}-SNAPSHOT as version."
